<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projeto Integrador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <h2>"Olá, !"</h2>
    <hr>
    <p><a class="link-opacity-10-hover" href="/meus_clientes">Meus clientes</a></p>
    <hr>
    <p><a class="link-opacity-10-hover" href="/minhas_locacoes">Minhas locações</a></p>
    <hr>
    <p><a class="link-opacity-10-hover" href="/minhas_estadias">Minhas estadias</a></p>
    <hr>
      <p><a class="link-opacity-10-hover" href="/relatorios">Relatórios</a></p>
    <hr>
      <h3>Lista de clientes:</h3>
      <div c-container="{{ url_for('clientes.listar_clientes') }}"></div>
    <hr>
      <h3>Lista de locais:</h3>
      <div c-container="{{ url_for('locacoes.listar_locacoes') }}"></div>
    <hr>
      <h3>Lista de estadias:</h3>
      <div c-container="{{ url_for('estadias.listar_estadias') }}"></div>
    <hr>
      <h3>Relatórios:</h3>
      <div c-container="{{ url_for('relatorios.listar_relatorios') }}"></div>
    <hr>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/cru.js')  }}"></script>
  </body>
</html>