<tr id="locacao-{{locacao.id}}">
    <th scope="row">{{ locacao.id }}</th>
    <td>{{ locacao.nome }}</td>
    <td>{{ locacao.descrição }}</td>
    <td>{{ locacao.valorDiaria }}</td>
    <td>
        <button class="btn btn-secondary" 
            c-get="{{ url_for('locacoes.detalhar_locacao', locacao_id=locacao.id) }}"
            c-target="#exibir-locacao"
            data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Ver
        </button>

        <button class="btn btn-primary"  id="botaoEditar"
            c-get="{{ url_for('locacoes.form_editar_locacao', locacao_id=locacao.id) }}"
            c-target="#form-locacao">
                Editar
        </button>

        <button class="btn btn-danger" 
            c-delete="{{ url_for('locacoes.deletar_locacao', locacao_id=locacao.id) }}"
            c-remove-closest="tr">
                Deletar
        </button>
    </td>
</tr>